<div class="center">
    <h2>{{rentsService.newRent.clientName}}, your transaction was seccessful!!!</h2>
    <br>
    <h3>Reservation data:</h3>
    <h5>Start DateTime :{{rentsService.newRent.startTime}}</h5>
    <h5>End DateTime: {{rentsService.newRent.endTime}}</h5>
    <h5>Car number: {{rentsService.newRent.carId}}</h5>
    <h5>Car : {{rentsService.car_model}}</h5>
    
    <h3>Your reservation number is:</h3>
    <h1>{{rentsService.newRent.numberOfRent}}</h1>
    <p>Please, do not forget this number</p>

</div>
