form{
    margin: 0 auto;
    width: 450px;
    display: block;
    border: 1px #cccccc solid;
    border-radius: 15px;
    padding: 25px;
}
form div{
    padding: 5px 0;
}

form label{
    display: block;
    padding: 10px 0;
}
form input[type=text]{
    width: 100%;
    padding: 5px;
}